/* reset */

.App {
  text-align: center;
  background-color: #766A58;
}

/*--------------------------------------Book Display------------*/

.book-display{
  background-color: white;
  
}

#image-thumbnail {
  height: 300px;
  width: 200px;
}

/*-------------------------------------Comment Display--------------*/

.post-text {
  background-color: white;
  
}

.display-comment {
  display: flex;
  justify-content: center;
  
}

.content {
  margin: 15px;
}

.comment-textarea {
  height: 100px;
  width: 500px;
}